@charset "utf-8";

* {
    margin: 0;
}
body {
    font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Lucida Grande", AppleGothic, Tahoma, Arial, sans-serif;
}
header {
    padding: 1%;
    background-color: skyblue;
}
section {
    padding: 1%;
}
aside {
    padding: 1%;
    background-color: #ddd;
}

@media screen and (min-width: 600px) {
    section {
        float: left;
        width: 67%;
    }
    aside {
        float: right;
        width: 28%;
    }
}